doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="./../css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
  body
    .container
      .spaceHeader
      .topHeader.row
        .mainHeader.col.l6
          h1 _City Lights
        .outlinePar.col.l6
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur laborum error sapiente, velit corrupti sed, officiis non sint sunt. Nemo vitae molestias, adipisci quidem temporibus. Optio neque ut ullam!

      .featureNthumbs
        .mainPhotoWrapper
          .photoTitle.textStyle
            h4 #{gallery.title}
            .textLink
              a(href="#{gallery.link}") Image Site
            img.singleImage(src='#{gallery.link}')

          .buttonBar
            if user.id === gallery.UserId
              .editNdeletBtn

                form(method="GET", action="/gallery/#{gallery.id}/edit")
                  button.waves-effect.waves-teal.btn-flat(type="submit", value="submit") edit

                form(name="delete-photo", method="POST", action="/gallery/#{gallery.id}")
                  input(type="hidden", name="_method", value="DELETE")
                  button.waves-effect.waves-teal.btn-flat(type="submit", value="submit") delete

            form(method="GET", action="/gallery")
              button.waves-effect.waves-teal.btn-flat(type="submit", value="submit") back

          block editContent

          .singlePhotoPar
            p #{gallery.description}

        //- each photo in gallery

        .thumbWrapper
          each thumb in thumbs
            .eachPhotoContent
              //- h4 #{thumb.title}

              //- every photo that gets uploaded
              a(href='#{thumb.id}')
                img.uploadedPhoto(src='#{thumb.link}')

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")